<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Framework Suite" parallel="none" thread-count="1">

    <test name="Login Tests">
        <classes>
            <class name="com.karansharma.tests.LoginTest"/>
        </classes>
    </test>

    <test name="Dashboard Tests">
        <classes>
            <class name="com.karansharma.tests.DashboardTest"/>
        </classes>
    </test>

</suite>